img {
	width: 35%;
	padding: 5px;
	float: right;
}

.point-title {
font-weight: bold;
text-shadow: 1px 1px silver;
font-size: 90%;
white-space: nowrap;
}
.point-description {
	line-height: 2;   font-size: 8pt;
}
