img {
	width: 35%;
	padding: 5px;
	float: right;
}

@media (min-width: 600px) and (max-width: 899px) {
  img {
   padding: 1%;
		width: 35%;
  }
}

.point-title {
font-weight: bold;
text-shadow: 1px 1px silver;
font-size: 90%;
white-space: nowrap;
}
.point-description {
	line-height: 2;   font-size: 8pt;
}
