.library {
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1600px) {
  .library {
    display: flex;

  }
}

.album-library {
  display: flex;
  border-style: double;
  border-color: silver;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

@media (min-width: 600px) {
  .album-library {
    display: grid;
  }
}

@media (min-width: 1600px) {
	.album-library {
  margin-bottom: 0%;
	}
}

#album-info {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
  #main #album-info {
    font-size: 100%;
  }
}

#album-cover-art {
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}

/* #album-info a:visited,
#album-info a:link {
  color: white;
  text-decoration: none;
}

#album-info a:hover,
#album-info a:active {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
  text-shadow: 1px 1px red;
} */
