.player-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#current-song-displayed {
  font-size: 100%;
}

#volume-control {
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.seek-bar {
  width: 70%;
}

.total-time {
  font-family: "Courier New", Courier, monospace;
  font-size: 200%;
}

.ion-play {
	font-size: 100%;
}
