.sidebar {
	border-style: dotted;
	border-color: aqua;
	padding: 10px;
	margin: 2px;
	text-align: center;
	font-size: 20pt;
}

.logo {
	margin: 5px;
	height: 150px;
	float: left;
}

.slogan {
	font-size: 48pt;
}
