.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

table, tbody {
    border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
		border-spacing: 5px;
		margin: 28px;
}

#song-list {
	  margin-left:auto;
    margin-right:auto;
}

nav {
	font-size: 36px;
	margin: 20px 0 0 ;
	padding: 10px 0;
}

#album-cover-art {
	  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
		text-align: center;
}
