* {
  box-sizing: border-box;
}

body {
  font-family: "Rock Salt", cursive;
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) and (max-width: 899px) {
  body {
    padding: 0%;
    font-size: 100%;
  }
}
