@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
	font-family: 'Inconsolata', monospace;
	color: azure;
	background-color: black;
	border-style: groove;
	border-color: bisque;
}

.App {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 200px auto auto;
	grid-template-areas:
	"header header"
	"sidebar main"
	"footer footer";
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

header {
  grid-area: header;
	border-style: double;
	text-align: left;
	font-size: 20pt;
	border-style: solid transparent;
	overflow: hidden;
	text-overflow: ellipsis;
}

.logo {
	padding:5px;
}

main {
  grid-area: main;
	border-style: double;
	border-color: green;
}

.sidebar {
  grid-area: sidebar;
	border-style: double;
	border-color: blue;
}

footer {
  grid-area: footer;
	border-style: double;
	border-color: blueviolet;
}

a:link {
    color: azure;
		text-decoration: none
}

a:visited {
    color: azure;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}
